
/*body, html { margin: 0;  background: pink;}*/

/*.canvaszindex {
position:relative;
z-index:9999;
}

*/
/*
canvas { 

    position: absolute; 
    touch-action: none; 
    background: transparent;
    /*mix-blend-mode: screen;*/
     /* top: 5.250em;
      width: 112em;
      left: -5.688em;
  }
 */

 

  /* KILL WEBFLOW BADGE */
.w-webflow-badge {
    position: relative !important;
    right: 1000px !important;
}
